.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.activity-container{
    padding: 60px 100px;
}
.activity-container h1{
    color: #400D51;
}
.activity-container h1 span{
    margin-left: 18px;
}
.activity-container h2{
    font-weight: 600;
}
.info-Container{
    background-color: #ECC5FB;
    padding: 25px;
}
.info-Container h4 span{
    margin-left: 10px;
    font-weight: normal;
    font-size: 20px;
}
.infos{
    display: flex;
    justify-content: center;
    background-color: #966396;
    color: white;
    border-radius: 10px;
    padding:2px 10px;
    font-size: 18px;
    margin-bottom: 50px;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:35px;
    padding-top: 25px;
}
@media screen and (max-width:576px){
    .cards-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .container h1{
        font-size: 25px;
    }
    
}