.details-container{
    margin: 50px 0;
}
.time-details{
   background-color: #966396;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-radius: 15px;
   margin: 20px 0;
   font-size: 18px;
   color: white
}
.btn-activity{
    margin-top: 30px;
    width: 100%;
    font-size: 18px;
    background-color: #712B75;
    color: white;
    padding: 15px 0;
    border: none;
    cursor: pointer;
}